<div class="logForm">
	<h1 style="text-align:center; margin-top: 40px;">Сhoose your option:</h1>
	
	<div style="margin-top: 30px">
		<button id="login_button" data-nav="/Auth/log-in" class="MainAuthBtn">Login</button>
		<button id="signup_button" data-nav="/Auth/sign-up" class="MainAuthBtn" style="margin-top: 30px;">Sigh Up</button>
	</div>

</div>