<div class="logForm signForm">
	<h1 class="title_login">Sign Up</h1>

	<form id="signUpForm">
		<input type="text" class="authInput" name="name" placeholder="Name" required="" autocomplete="username"/>
		<input type="email" class="authInput" name="email" placeholder="Email" required="" autocomplete="email"/>
		<input type="password" class="authInput" name="password" placeholder="Password (min 6 chars)" required="" autocomplete="new-password"/>
		<button type="submit" class="authBtn">Register</button>
	</form>
	
	<div id="signup-error"  class="auth-error"></div> <!-- блок для виводу помилок реєстрації -->

</div>