<footer>

	<div id="socialMediaList">
		<h3 >Social Media:</h3>
		<a href="https://instagram.com" target="_blank">
			<img src="/images/instagram.png" target="_blank" alt="Instagram" class="footer-icon"/>
        </a>
		<a href="https://www.facebook.com" target="_blank">
			<img src="/images/facebook.png" alt="Facebook" class="footer-icon"/>
        </a>
		<a href="https://web.telegram.org/a/" target="_blank">
			<img src="/images/telegram.png" alt="Telegram" class="footer-icon"/>
        </a>
		<a href="https://x.com/" target="_blank">
			<img src="/images/twitter.png" alt="Twitter" id="x-img" class="footer-icon"/>
        </a>
	</div>

	<div id="contactList">
		<h3>Contacts:</h3>
		<p>Nova Street, 50, Rivne, Ukraine</p>
		<p>VoteMe_official@gmail.com</p>
		<p>+380(98)-989-8989</p>
	</div>

</footer>
