<aside class="sidebar">
	
	<a href="/Home/home" id="home_button" data-nav>
	    <div class="asidLable1">
            
                <img src="/images/home.png" class="sidebarBtns"/>     
            
		    <p class="lable1">Home</p>
        </div>
    </a>


	<a href="/Home/add-new" id="button1" data-nav>
	    <div class="asidLable1">
            
                <img src="/images/add.png" class="sidebarBtns"/>
   
		    <p class="lable1">Add</p>
	    </div>
    </a>
	
</aside>