<div id="welcomeText">

	<h3 id="welcome">Welcome to VoteMe!</h3>
	<p id="welcome1">Here you can create a poll on any topic that anyone can answer. If you can't pick up clothes or solve an important question for yourself, you can use people's opinions. Just create a poll and wait for the answer! We sincerely hope that you will find a great solution for yourself :)</p>

</div>