<div>
	
	<search>
		<form id="searchForm" onsubmit="return false;">
			<div id="searchDiv">
				<input
				  type="search"
				  id="mySearch"
				  name="q"
				  placeholder="Search the questions…"
				  aria-label="Search through site content"
				/>
				<button id="searchBtn" type="button">Search</button>
			</div>
		</form>
	</search>

	<div id="pollsContainer"></div> <!-- блок опитувань -->
	
</div>


